# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.DS_Store

# Python compiled files
__pycache__/
*.pyc

# Ignore all CSV files
*.csv

.ipynb_checkpoints/

# Notebooks File
*.ipynb

# Markdown 
*.md

training_models_val_test.py